alabaster==0.7.10
argh==0.26.2
Babel==2.4.0
crate-docs-theme==0.5.25
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.6
livereload==2.5.1
MarkupSafe==1.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.2.0
pytz==2017.2
PyYAML==3.12
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.4
sphinx-autobuild==0.7.1
sphinxcontrib-plantuml==0.8.1
tornado==4.5.1
watchdog==0.8.3
